---
layout: base
permalink: /
title: 'Sebastian Rodriguez'
description: 'Electrical & Computer Engineering student focused on robotics, embedded systems, and themed entertainment technology.'
---

<div class="wrapper">
  <header
  class="full | section"
  style="
  --spot-color: hsl(24, 100%, 33%);
  --section-bg: hsl(24, 100%, 33%);
  "
  >
  <div class="section__inner flow region">
    <h1 class="text-center" style="color: white;">
      Sebastian Rodriguez
    </h1>
    <div class="hero-image-grid">
      <img src="/assets/images/gallery/condensedTMUHeadshot.jpg" alt="Sebastian picutre from TMU">
      <img src="/assets/images/gallery/condensedTMUHeadshot.jpg" alt="Sebastian picutre from TMU">
      <img src="/assets/images/gallery/condensedTMUHeadshot.jpg" alt="Sebastian picutre from TMU">
    </div>
  </div>
  {% svg "divider/waves", null, "divider" %}
  </header>


<section class="full | region intro-section">
  <div class="wrapper intro-grid">

    <div class="intro-text flow">

      <h2 class="intro-heading">Curious. Inventive. Authentic.</h2>

      <p>
        Hi, I’m Sebastian Rodriguez —
        an Electrical & Computer Engineering student at UT Austin.
      <p>

      <p>
        I’m a purpose-driven engineer focused on building reliable, real-world
        systems at the intersection of hardware, embedded software, and robotics.
      </p>

      <p>
        My interests include animatronics, embedded control systems,
        themed entertainment technology, and interactive physical experiences.
      </p>

      <p class="intro-purpose">
        I’m driven to build technology that makes interaction with the world
        more meaningful — not just easier.
      </p>
    </div>

    <div class="intro-image">
      <img
        src="/assets/images/gallery/condensedTMUHeadshot.jpg"
        alt="Sebastian Rodriguez portrait"
      />
    </div>

  </div>
</section>




</div>
